<div class="min-h-screen">
  <div class="flex pt-4">
    <h1 class="text-[24px]">Events</h1>
    <div class="ml-auto">
      @for (season of seasonsData(); track season.id) {
        <button
          (click)="onClickSeason(season)"
          [ngClass]="{ active: activeSeason() === season.id }"
          class="filter-button"
        >
          {{ season.name }}
        </button>
      }
    </div>
  </div>
  <div class="grid grid-cols-12">
    @for (event of seasonEvents(); track event.id; let i = $index) {
      <div [ngClass]="{ 'mr-3': (i + 1) % 4 !== 0 }" class="col-span-3 card border-white/25 mt-5">
        <div class="uppercase text-white text-[16px] font-bold p-4">
          {{ event.name }}
        </div>
        <div class="grid grid-cols-2 p-4 pt-0">
          <div class="col-span-1 my-2">
            <span class="block text-[10px]"> Date </span>
            <span class="block text-[12px] card-display">
              {{ event.startsAt | date: 'dd-MM-yyyy HH:mm' }}
            </span>
          </div>
          <div class="col-span-1 my-2">
            <span class="block text-[10px]">Players</span>
            <span class="block text-[12px] card-display">{{ event.entrants }}</span>
          </div>
          <div class="col-span-2 my-2">
            <span class="block text-[10px]">Location</span>
            <span class="block text-[12px] card-display">{{ event.location }}</span>
          </div>
        </div>
      </div>
    }
  </div>
</div>
