<div class="min-h-screen">
  <div class="flex pt-4">
    <h1 class="text-[24px]">Leaderboards</h1>
    <div class="ml-auto">
      @for (type of leaderBoardFilters; track type) {
        <button
          (click)="onClickFilter(type)"
          [ngClass]="{ active: activeLeaderboardFilter() === type }"
          class="filter-button"
        >
          {{ type }}
        </button>
      }
    </div>
  </div>
  <div class="table-body-wrapper mt-5">
    <div class="table-body-header grid grid-cols-12 border-b border-white/25 px-4 py-2">
      <span class="col-span-1">Placement</span>
      <span class="col-span-5">Player</span>
      <span class="col-span-5 text-end">
        @if (!!leaderboardData().find((v) => v.team !== null)) {
          Team
        }
      </span>
      <span class="col-span-1 text-end">Points</span>
    </div>

    @for (entry of leaderboardData(); track entry.name; let placing = $index) {
      <div class="placing-wrapper border-b border-white/25 p-4 grid grid-cols-12 text-[14px]">
        <span class="placing placing-{{ placing }} col-span-1">{{ placing + 1 }}</span>
        <span class="col-span-5">{{ entry.name }}</span>
        <span class="col-span-5 text-end">{{ entry.team }}</span>
        <span class="col-span-1 text-end">{{ entry.displayValue }}</span>
      </div>
    }
  </div>
</div>
