.table-body-wrapper {
  border: 1px solid rgba(240, 240, 240, 0.2);
}

.table-body-header {
  color: #6b6b80;
  font-size: 12px;
}

.filter-button {
  font-size: 12px;
  color: #6b6b80;
  border: 1px solid rgba(240, 240, 240, 0.2);
  text-transform: uppercase;
  padding: 4px 12px;
  margin: 0 4px;
}

.filter-button.active {
  color: white;
  background-color: var(--red);
  border-color: var(--red);
  transition: 0.3s ease-in-out;
}
